* {
  margin: 0;
}
.ant-layout {
  height: 100%;
  min-height: 100vh;
}
.ant-layout-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.dplayer-controller {
  margin-bottom: 3px;
}
button {
  margin: 0.5rem;
}
.dplayer {
  width: 960px;
  height: 620px;
  margin: 0 auto;
}
.dplayer-subtitle {
  text-shadow: 2px 2px 2px black !important;
  font-weight: 500 !important;
  p {
    margin-bottom: 18px;
    &:nth-last-child(1) {
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 960px) {
  .dplayer {
    width: 100%;
    height: 62vw;
  }
}
