* {
  margin: 0;
}
.ant-layout {
  height: 100%;
  min-height: 100vh;
}
.ant-layout-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.dplayer-controller {
  margin-bottom: 5px;
}
button {
  margin: 0.5rem;
}
.dplayer {
  width: 960px;
  height: 620px;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  .dplayer {
    width: 100%;
    height: 62vw;
  }
}
